Repository luchowaldman/elpibegravedad, pull requests merged in 2024-11, with the labels that each got.

#64 [desarrollo -> main] sprint 3
  MakeMapa/index.js
  cliente/index.html
  cliente/menu.html
  cliente/public/css/site.css
  cliente/public/img/meta.png
  cliente/public/img/player_muriendo.png
  cliente/public/mapas/EXmapa1.json
  cliente/public/mapas/mapa1.json
  cliente/public/mapas/mapa_sej.json
  cliente/src/ControladorDOM.ts
  cliente/src/aplicacion.ts
  cliente/src/main.ts
  cliente/src/modelo/AccionGrafica.ts
  cliente/src/modelo/Direcciones.ts
  cliente/src/modelo/Texto.ts
  cliente/src/modelo/client_socketio.ts
  cliente/src/modelo/controles.ts
  cliente/src/modelo/entidadgrafica.ts
  cliente/src/modelo/graficoJuego.ts
  cliente/src/modelo/jugador.ts
  cliente/src/modelo/mapa.ts
  cliente/src/modelo/meta.ts
  imagenes/meta.png
  imagenes/meta.xcf
  imagenes/player_muriendo.png
  imagenes/player_muriendo.xcf
  server/client.go
  server/game.go
  server/main.go
  server/map.go
  server/mapas/EXmapa1.json
  server/mapas/mapa1.json
  server/player.go
  server/world.go
Labels: server, cliente

#68 58 enviar mensaje informacionsala cuando hay coneccion de un jugador
  cliente/src/modelo/client_socketio.ts
  server/client.go
  server/game.go
  server/go.mod
  server/go.sum
  server/main.go
  server/player.go
  server/room.go
Labels: server

#69 61 acomodar jugadores en posicion inicial + 56 Enviar en cada tick la posicion de todos los personajes
  server/character.go
  server/client.go
  server/game.go
  server/go.mod
  server/go.sum
  server/main.go
  server/player.go
  server/room.go
  server/world.go
Labels: server

#74 fix doble velocidad al caminar
  server/world.go
Labels: server

#75 57 tener en cuenta colisiones entre personajes
  cliente/public/mapas/mapa1.json
  cliente/public/mapas/mapa2.json
  server/mapas/mapa1.json
  server/mapas/mapa2.json
  server/world.go
Labels: server

#76 60 - Esperar 3 segundos antes de dar velocidad a los jugadores
  server/game.go
  server/main.go
  server/world.go
Labels: server

#98 Salas
  cliente/src/aplicacion.ts
  cliente/src/modelo/client_socketio.ts
  server/client.go
  server/game.go
  server/main.go
  server/map.go
  server/player.go
  server/room.go
Labels: server, protocolo

#106 100 - bug deja de mandar al recibir iniciarjuego en un juego iniciado
  server/room.go
Labels: bug, server

#107 88 - velocidad que aumenta a medida que avanza la carrera
  server/character.go
  server/game.go
  server/world.go
Labels: server

#109 89 - obstaculos mortales
  server/map.go
  server/world.go
Labels: server

#110 90 - plataformas de aceleracion y frenado
  server/character.go
  server/map.go
  server/world.go
Labels: server
